h1 {
    font-size: 32px;
    padding: 0px;
    margin-bottom: 30px;
}
h2 {
    font-size: 30px;
    padding: 0px;
    margin-bottom: 28px;
}
h3 {
    font-size: 28px;
    padding: 0px;
    margin-bottom: 26px;
}
h4 {
    font-size: 26px;
    padding: 0px;
    margin-bottom: 24px;
}
h5 {
    font-size: 24px;
    padding: 0px;
    margin-bottom: 22px;
}
h6 {
    font-size: 22px;
    padding: 0px;
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 32px;
}
button {
    background-color: #606570;
    border: solid 1px #00000000;
    font-size: 14px;
    color: #fdfdfd;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}
input {
    background-color: #242424;
    border: solid 1px #00000000;
    font-size: 16px;
    color: #fdfdfd;
    display: inline-block;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    height: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    transform: translateY(1px);
}
select {
    background-color: #606570;
    border: solid 1px #00000000;
    font-size: 14px;
    color: #fdfdfd;
    display: inline-block;
    border-radius: 4px;
    padding: 5px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}
button:hover {
    border: solid 1px #315BEF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}
select:hover, input:focus {
    border: solid 1px #315BEF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}
button:active, select:active {
    border: solid 1px #315BEF;
    background-color: #315BEF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}
button:focus, input:focus, select:focus {
    outline: none;
}
select option {
    background-color: #242424;
}
html, body {
    background-color: #313947;
    outline: none;
    cursor: default;
    padding: 0;
    margin: 0;
}
html {
    font-size: 18px;
    height: 100%;
}
body {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fdfdfd;
    font-size: 18px;
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    fline-height: 1.5
}
code {
    display: inline-block;
    font-family: Hack, Courier New, monospace;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    word-break: break-word;
}
code_comment {
    color: #7f7f7f;
}
code_type {
    color: #0065FF;
}
code_keyword {
    color: #2BECFF;
}
code_command {
    color: #2BEF46;
}
code_function {
    color: #FBE430;
}
code_number {
    color: #FF533F;
}
code_string {
    color: #C62EE8;
}
code_label {
    color: #FA49C0;
}
note {
    color: #FFE28B;
    font-style: italic;
}
warn {
    color: #FF3B3A;
    font-weight: bold;
    font-style: oblique;
}
.code {
    display: block;
    font-family: Hack, Courier New, monospace;
    line-height: 1.5;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    word-break: break-word;
}
code, .code {
    background: #151D2B;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}
code:hover, .code:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: #1B2331;
}
.divider {
    display: block;
    padding: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: #252D3B;
    border-radius: 2px 2px 2px 2px;
    position: relative;
    width: 92%;
    left: 50%;
    transform: translate(-50%, 12px);
}
.body {
    outline: none;
    color: #fdfdfd;
    font-size: 18px;
    position: relative;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 12px);
}
.header {
    padding: 4px;
    text-align: center;
    background: #2B2B36;
    color: #fdfdfd;
    font-size: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 5px 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.subheader {
    background: #2B2B36;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 5px 5px;
    font-size: 24px;
    position: relative;
    left: 50%;
    width: calc(95% - 2vw);
    padding: 0px 14px;
    padding-bottom: 3px;
    padding-top: 1px;
    transform: translate(-50%, 24px);
    z-index: 1;
}
.footer {
    padding: 4px;
    background: #2B2B36;
    color: #fdfdfd;
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0px 0px;
    position: fixed;
    width: 100%;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    z-index: 2;
}
.header, .subheader, .footer {
    background: #373E4F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header:hover, .subheader:hover, .footer:hover {
    background: #343C4C;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.65);
}
.h1 {width: 90%;}
.h2 {width: calc(90% - 4%); left: 52%}
.h3 {width: calc(90% - 8%); left: 54%}
.h4 {width: calc(90% - 12%); left: 56%}
.h5 {width: calc(90% - 16%); left: 58%}
.h6 {width: calc(90% - 20%); left: 60%}
.normcur {cursor: default;}
.linkcur {cursor: pointer;}
a {
    color: #72C4FF;
    outline: none;
}
a.link1:link {
    text-decoration: none;
}
a.link1:visited {
    text-decoration: none;
}
a.link1:hover {
    text-decoration: underline;
}
a.link1:active {
    text-decoration: underline;
}
a.hlink:link {
    text-decoration: none;
}
a.hlink:visited {
    text-decoration: none;
}
a.hlink:hover {
    text-decoration: none;
}
a.hlink:active {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}
